#saldi img {
    width: 100%;
     height: 120px;
 }
#welcomeSummer img {
    width: 100%;
    height: 150px;
}

#lastMinute img {
   width: 100%;
    height: 120px;
}

#offertaGiorno img {
    width: 100%;
    height:100%;
}